.cart-detail-container {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1000;
  width: clamp(400px, 90%, 600px);
  margin: 50px auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.cart-detail-container:hover {
  transform: translateY(-8px) rotateX(3deg) rotateY(2deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.cart-detail-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #8b0000;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.2em;
}

.cart-detail-container ul {
  list-style: none;
  padding: 0;
}

.cart-detail-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.cart-detail-container li span {
  font-size: 18px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.cart-detail-container li div {
  display: flex;
  align-items: center;
}

.cart-detail-container button, .quantity-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.cart-detail-container button:hover, .quantity-button:hover {
  background-color: #e64a19;
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pizza-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-selector span {
  margin: 0 10px;
  font-size: 18px;
  color: #333;
}